<!-- Can suply some server hydrated data to the react root container-->
<div id="react-root" data-user="<%= @username %>">
  <div class="loading">Loading&#8230;</div>
</div>

<script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
